/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* Common Style */
*{
    margin:0;
    padding:0;
}

body
{
    background-color:#FFFFFF;
    position: relative;
    font-family: 'Poppins';
}

main
{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.container
{
    width:870px;
    position:relative;
    margin: 50px auto;
}


.button a
{
   text-decoration:none;
   font-size: 16px;
   color:#fff;
   display: inline-block;
   background-color:#E02C6D;
   padding: 10px 24px;
}
.button .fas
{
    margin-right: 10px;
}

/* Header Style Start */
.header
{
    width:100%;
    height: 677px;
    background-color: #2D25A0;
}


.nav-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:45px 150px;  
}

.nav-link ui li 
{
    list-style:none;
    padding:0 25px;
    display: inline-block;
    position:relative;
}

.nav-link ui li a
{
    text-decoration:none;
    color:#fff;
    font-size:16px;
}

.header-info
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:100px;
    margin:0 165px;

}


.half-width h1
{
    color:#fff;
    font-size: 65px;
}

.half-width img
{
    width: 550px;
    height: 430px;
}

.half-width .button
{
    margin-top: 20px;
}
.half-width .button .fas
{
    margin-left:10px;
}



/* Player Section Start */

.players
{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-row-gap:30px;
}

.player
{
    position: relative;
    margin: auto 20px;
    box-shadow: 0px 5px 13px #0000003f;
}


.player-img
{
    width: 92%;
}


.player img
{
    width: 100%;
    margin: 4% 4% auto 4%;
    display: inline-block;
}

.player-details
{
    width: 92%;
    margin: 2% 4% 10% 4%;
}

.player-details h2
{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin-bottom: 10px;
}

.player-details p
{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}



/* Highlight Section */


.highlight
{
    display:grid;
    grid-template-columns:repeat(2,  1fr);
    grid-column-gap: 20px;
    align-items: center;
    margin: auto 20px;
}

.highlight-img img
{
    width: 400px;
    height: 350px;
}

.highlight-info h2
{
    font-weight: bold;
    font-size: 40px;
}

.highlight-info p
{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 25px;
}

.highlight-info .button .fas
{
    margin-left:10px;
}



/* Best Football Team Style */

.container-header
{
    text-align: center;
    margin-left: 50%;
    transform:translate(-50%);
    margin-bottom:10%;
    font-size: 40px;
    font-weight: bold;
}
.best-team
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.team
{
    position: relative;
    margin: auto 20px;
    box-shadow: 0px 5px 13px #0000003f;
    border-radius:25px;
}


.team-flag
{
    width: 92%;
}


.team-flag img
{
    width: 100%;
    margin: 4% 4% auto 4%;
    display: inline-block;
    border-radius:25px;
}

.team-details
{
    text-align:center;
    width: 92%;
    margin: 2% 4% 10% 4%;
}

.team-details p
{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}

.flag-button
{
    margin-left:50%;
    transform: translate(-50%);
    margin-bottom:5%;
}

.flag-button .fas
{
    margin-left: 10px;
}